.main
{
	width: 95%;
	height: 100%;
	display: flex;
	margin: auto;
	justify-content: space-around;
	align-items: center;
}

.arrow__left
{
	position: absolute;
	img
	{
		margin-top: 50%;
	}
	transform: rotate(90deg);
	cursor: pointer;
}
.arrow__right
{
	position: absolute;
	img
	{
		margin-top: 50%;
		z-index: -1;
	}
	cursor: pointer;
	transform: rotate(-90deg);
	@include tablets{
		margin-right: rem(200px)
	}
}
.main-slider
{
	user-select: none;
	height: 100%;
	max-width: 80%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.span
{
	position: relative;
	margin-right: 15%;
	margin-left: 10%;
	display: flex;
	transition: margin-left 1s ease;
	align-items: center;
	justify-content: center;
	width: rem(1300px);
	max-width: rem(1300px);
	@include tablets{
		display: flex;
		flex-direction: column;
		margin-left: 10%;
		margin-right: 10%;
	}
}
.span-left
{
	.span-burger img
	{
		max-width: rem(500px);
	}
	font-family: Gagalin;
	color: #fff;
	.sost
	{
		margin-top: -5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		padding: rem(10px);
		width: rem(100px);
		background-color: $a;
		border-radius: 5px;
		&:hover
		{
			background-color: $a_hover;
			cursor: pointer;
		}
		.sost__p
		{
			padding-left: 20%;
		}
		.sost__ul
		{
			display: none;
		}
		.sost__ul__active
		{
			display: block;
			.li_close
			{
				position: absolute;
				right: rem(-10px);
				top: rem(-10px);
			}
			left: rem(100px); top: 1.3em;
			position: absolute;
			background-color: #fff;
			border-radius: 5px;
			img
			{
				height: 100%;
				padding: rem(10px);
			}
		}
	}
}

	.kkal
	{
		position: absolute;
		max-width: rem(100px);
		display: flex;
		flex-direction: column;
		margin-top: -4%;
		.kkal__p
		{
			margin-top: -60%;
		}
		.kkal-1200
		{
			font-size: rem(23px);
			padding: 0% 20% 0 20%;
		}
		.kkal-p
		{
			padding-top: 15%;
			text-align: center;
		}
	}
.span-right
{
	@include tablets{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	p
	{
		padding: 5% 0 5% 0;
		@include tablets{
			font-size: rem(14px);
			text-align: center;
		}
	}
	h2
	{
		font-family: Gagalin;
		font-size: rem(70px);
		width: rem(500px);
		line-height: 1;
		@include tablets{
			font-size: rem(40px);
			text-align: center;
		}
	}
	.span-down
	{
		display: flex;
		align-items: center;
		color: $a_hover;
		.down-p
		{
			display: flex;
			justify-content: space-around;
			align-items: flex-end;
			.p-500
			{
				font-family: Gagalin;
				font-size: rem(70px);
				@include tablets{
					font-size: rem(40px);
				}
			}
			.p-cent
			{
				padding-bottom: 10%;
				font-family: Gagalin;
				font-size: rem(35px);
				@include tablets{
					font-size: rem(20px);
				}
			}
		}
		.burger-slider
		{
			padding-left: 10%;
			padding-top: 5%;
		}
	}
}